@inherits ComponentBase

<main class="main" id="top">
    <div class="container" data-layout="container">
        <nav class="navbar navbar-light navbar-vertical navbar-expand-xl pb-5">
            <div class="d-flex align-items-center" style="height:46.99px">
                <div class="toggle-icon-wrapper">
                    <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation" onclick="@(() => OnClick())">
                        <span class="navbar-toggle-icon">
                            <span class="toggle-line"></span>
                        </span>
                    </button>
                </div>
                <a class="navbar-brand" href="index.html">
                    <div class="d-flex align-items-center py-2">
                        <img class="" src="assets/img/logo-bimasakti.png" alt="" style="max-width:125px; max-height:35px;" />
                        <!-- <span class="font-sans-serif">Bimasakti</span> -->
                    </div>
                    <!-- <div class="d-flex align-items-center py-3"><span class="font-sans-serif">bimasakti</span></div> -->
                </a>
                <ul class="navbar-nav align-items-center d-none d-lg-block">
                    <li class="nav-item">
                        <div class="search-box" data-list='{"valueNames":["title"]}'>
                            <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                <input class="form-control search-input fuzzy-search" type="search" placeholder="Search..." aria-label="Search" />
                                <span class="fas fa-search search-box-icon"></span>
                            </form>
                            <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle shadow-none" data-bs-dismiss="search">
                                <div class="btn-close-falcon" aria-label="Close"></div>
                            </div>
                            <div class="dropdown-menu border font-base start-0 mt-2 py-0 overflow-hidden w-100">
                                <div class="scrollbar list py-3" style="max-height: 24rem;">
                                    <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">Recently Browsed</h6><a class="dropdown-item fs--1 px-card py-1 hover-primary" href="app/events/event-detail.html">
                                        <div class="d-flex align-items-center">
                                            <span class="fas fa-circle me-2 text-300 fs--2"></span>
                                            <div class="fw-normal title">Pages <span class="fas fa-chevron-right mx-1 text-500 fs--2" data-fa-transform="shrink-2"></span> Events</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item fs--1 px-card py-1 hover-primary" href="app/e-commerce/customers.html">
                                        <div class="d-flex align-items-center">
                                            <span class="fas fa-circle me-2 text-300 fs--2"></span>
                                            <div class="fw-normal title">E-commerce <span class="fas fa-chevron-right mx-1 text-500 fs--2" data-fa-transform="shrink-2"></span> Customers</div>
                                        </div>
                                    </a>
                                    <hr class="bg-200 dark__bg-900" />
                                    <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">Suggested Filter</h6><a class="dropdown-item px-card py-1 fs-0" href="app/e-commerce/customers.html">
                                        <div class="d-flex align-items-center">
                                            <span class="badge fw-medium text-decoration-none me-2 badge-soft-warning">customers:</span>
                                            <div class="flex-1 fs--1 title">All customers list</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item px-card py-1 fs-0" href="app/events/event-detail.html">
                                        <div class="d-flex align-items-center">
                                            <span class="badge fw-medium text-decoration-none me-2 badge-soft-success">events:</span>
                                            <div class="flex-1 fs--1 title">Latest events in current month</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item px-card py-1 fs-0" href="app/e-commerce/product/product-grid.html">
                                        <div class="d-flex align-items-center">
                                            <span class="badge fw-medium text-decoration-none me-2 badge-soft-info">products:</span>
                                            <div class="flex-1 fs--1 title">Most popular products</div>
                                        </div>
                                    </a>
                                    <hr class="bg-200 dark__bg-900" />
                                    <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">Files</h6><a class="dropdown-item px-card py-2" href="#!">
                                        <div class="d-flex align-items-center">
                                            <div class="file-thumbnail me-2"><img class="border h-100 w-100 fit-cover rounded-3" src="assets/img/products/3-thumb.png" alt="" /></div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 title">iPhone</h6>
                                                <p class="fs--2 mb-0 d-flex"><span class="fw-semi-bold">Antony</span><span class="fw-medium text-600 ms-2">27 Sep at 10:30 AM</span></p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item px-card py-2" href="#!">
                                        <div class="d-flex align-items-center">
                                            <div class="file-thumbnail me-2"><img class="img-fluid" src="assets/img/icons/zip.png" alt="" /></div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 title">Falcon v1.8.2</h6>
                                                <p class="fs--2 mb-0 d-flex"><span class="fw-semi-bold">John</span><span class="fw-medium text-600 ms-2">30 Sep at 12:30 PM</span></p>
                                            </div>
                                        </div>
                                    </a>
                                    <hr class="bg-200 dark__bg-900" />
                                    <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">Members</h6><a class="dropdown-item px-card py-2" href="pages/user/profile.html">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-l status-online me-2">
                                                <img class="rounded-circle" src="assets/img/team/1.jpg" alt="" />
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 title">Anna Karinina</h6>
                                                <p class="fs--2 mb-0 d-flex">Technext Limited</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item px-card py-2" href="pages/user/profile.html">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-l me-2">
                                                <img class="rounded-circle" src="assets/img/team/2.jpg" alt="" />
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 title">Antony Hopkins</h6>
                                                <p class="fs--2 mb-0 d-flex">Brain Trust</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item px-card py-2" href="pages/user/profile.html">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-l me-2">
                                                <img class="rounded-circle" src="assets/img/team/3.jpg" alt="" />
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 title">Emma Watson</h6>
                                                <p class="fs--2 mb-0 d-flex">Google</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="text-center mt-n3">
                                    <p class="fallback fw-bold fs-1 d-none">No Result Found.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
                <div class="navbar-vertical-content scrollbar pb-5">
                    <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                        @foreach (var item in _data)
                        {
                            var lcLevel0Tag = $"#{item.Id}";
                            <li class="nav-item">
                                <a class="nav-link dropdown-indicator" href="@lcLevel0Tag" data-bs-toggle="collapse" aria-expanded="false" aria-controls="@item.Text">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon">
                                            <span class="fas fa-chart-pie"></span>
                                        </span>
                                        <span class="nav-link-text ps-1">@item.Text</span>
                                    </div>
                                </a>
                                <ul class="nav collapse" id="@item.Id">
                                    @{
                                        foreach (var item1 in item.Children)
                                        {
                                            var lcLevel1Tag = $"#{item1.Id}";
                                            <li class="nav-item">
                                                <a class="nav-link dropdown-indicator" href="@lcLevel1Tag" data-bs-toggle="collapse" aria-expanded="false" aria-controls="@item1.Text">
                                                    <div class="d-flex align-items-center">
                                                        <span class="nav-link-text ps-1">@item1.Text</span>
                                                    </div>
                                                </a>
                                                <ul class="nav collapse" id="@item1.Id">
                                                    @foreach (var item2 in item1.Children)
                                                    {
                                                        <li class="nav-item" @onclick="@(() => OnClickProgram(item2))">
                                                            <a class="nav-link" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center">
                                                                    <span class="fa fa-caret-right me-1"></span><span class="nav-link-text ps-1">@item2.Text</span>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <footer class="footer">
                <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
                    <div class="col">
                        <p class="fs--2 mb-0 text-600">2023 &copy; <a href="http://www.realta.co.id" target="_blank">PT. Realta Chakradarma</a>.<br />All rights reserved. | v1.0 <a href="#" data-bs-toggle="modal" data-bs-target="#moreInfo"><i class="fas fa-info-circle"></i></a></p>
                    </div>
                    @*<div class="col-4 text-end">
                        <p class="mb-0 text-600"><a href="#" data-bs-toggle="modal" data-bs-target="#moreInfo">v1.0 <i class="fas fa-info-circle"></i></a></p>
                    </div>
                    <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 text-600">v3.9.0</p>
                    </div>*@
                </div>
            </footer>

        </nav>

        <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand-xl" style="display: none;">
            <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand me-1 me-sm-3" href="../index-2.html">
                <div class="d-flex align-items-center"><img class="me-2" src="../assets/img/icons/spot-illustrations/falcon.png" alt="" width="40" /><span class="font-sans-serif">falcon</span></div>
            </a>
        </nav>

        <div class="content">
            <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand" style="display: none;">
                <!-- muncul ketika navbar nya di atas karena screen kecil -->
                <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggle-icon">
                        <span class="toggle-line"></span>
                    </span>
                </button>
                <a class="navbar-brand me-1 me-sm-3" href="index.html">
                    <div class="d-flex align-items-center"><span class="font-sans-serif">bimasakti</span></div>
                </a>

                <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
                    <li class="nav-item">
                        <!-- theme switcher -->
                        <div class="theme-control-toggle fa-icon-wait px-2"><input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" type="checkbox" data-theme-control="theme" value="dark" /><label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label><label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label></div>
                    </li>

                    <!-- notification -->
                    <li class="nav-item">
                        <a class="nav-link notification-indicator notification-indicator-primary px-0 fa-icon-wait" role="button" aria-haspopup="true" aria-expanded="false" data-hide-on-body-scroll="data-hide-on-body-scroll"><span class="fas fa-bell" data-fa-transform="shrink-6" style="font-size: 27px;"></span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <!-- user menu -->
                        <a class="nav-link p-0" style="line-height:0px;" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar avatar-xl">
                                <img class="rounded-circle" src="assets/img/avatar.png" alt="" />
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                            <div class="bg-white dark__bg-1000 rounded-2 py-2">
                                <a class="dropdown-item" href="#authentication-modal" data-bs-toggle="modal">Profile &amp; account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" @onclick="@Logout">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="card">
                <R_ErrorHandler>
                    <BlazorMenu.Shared.Tabs.MenuTabSet />
                </R_ErrorHandler>
            </div>

            <!--FOOTER-->
            
        </div>



        <!-- begin::Modal Version Info -->
        <div class="modal fade" id="moreInfo" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content border-0">
                    <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"></div>
                    <div class="modal-header bg-card-gradient">
                        <h5 class="modal-title text-white" id="exampleModalLabel">More Information</h5><button class="btn-close btn-close-white text-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="p-3">

                            <p class="d-flex flex-between-center mb-1"><b><i class="fa fa-check me-1 text-success"></i>Database :</b> <span>Bimasakti_WEB_TEST</span></p>
                            <p class="d-flex flex-between-center mb-1"><b><i class="fa fa-check me-1 text-success"></i>Database Server :</b> <span>172.16.0.62\SQL2017</span></p>
                            <p class="d-flex flex-between-center mb-1"><b><i class="fa fa-check me-1 text-success"></i>Menu Version :</b> <span>1.0.0.7</span></p>
                            <p class="d-flex flex-between-center mb-1"><b><i class="fa fa-check me-1 text-success"></i>FrontEnd Version :</b> <span>1.0.1.46</span></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end::Version Info -->


        <div class="modal fade" id="authentication-modal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                    <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
                        <div class="position-relative z-index-1 light">
                            <h4 class="mb-0 text-white" id="authentication-modal-label">Profile</h4>
                        </div>
                        <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center mb-3">
                                <div class="avatar avatar-5xl">
                                    <div class="h-100 w-100 rounded-circle overflow-hidden">
                                        <img class="rounded-circle" src="assets/img/avatar.png" alt="" data-dz-thumbnail="data-dz-thumbnail" />
                                        <input class="d-none" id="profile-image" type="file" />
                                        <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image">
                                            <span class="bg-holder overlay overlay-0"></span>
                                            <span class="z-index-1 text-white dark__text-white text-center fs--1">
                                                <span class="fas fa-camera"></span>
                                                <span class="d-block">Edit Photo</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col">
                                <div class="form-floating"><input class="form-control" id="first-name" type="text" value="Anthony" /><label class="form-label" for="first-name">First Name</label></div>
                            </div>
                            <div class="col">
                                <div class="form-floating"><input class="form-control" id="last-name" type="text" value="Hopkins" /><label class="form-label" for="last-name">Last Name</label></div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating"><input class="form-control" id="email1" type="text" value="anthony@gmail.com" /><label class="form-label" for="email1">Email</label></div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input class="form-control" id="email2" type="text" value="+44098098304" /><label class="form-label" for="email2">Phone</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input class="form-control" id="email3" type="text" value="Software Engineer" /><label class="form-label" for="email3">Heading</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Update </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>