<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="oi oi-monitor" style="color:white;" aria-hidden="true"></span>
        @if (!@IconMenuActive)
        {
            <a class="navbar-brand" href="">Blazor Menu</a>
        }

        <button title="Navigation menu" class="navbar-toggler" @onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass" @onclick="() => ToggleNavMenu()" >
    <nav class="flex-column">
        @if (_menuList == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var menu in _menuIds)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="() => GetClicked(menu.Value)">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>
                        @if (!IconMenuActive)
                        {
                            @menu.Value.CMENU_NAME
                        }
                    </NavLink>

                    <nav class="nav flex-column">
                        @if (expandedSubNav && menu.Key == _clickedMenu)
                        {
                            @foreach (var subMenu in _menuGroupList)
                            {
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="" @onclick="() => GetClickedGroup(subMenu)">
                                        <span class="oi oi-list-rich" aria-hidden="true"></span>
                                        @if (!IconMenuActive)
                                        {
                                            @subMenu.CSUB_MENU_NAME
                                        }
                                    </NavLink>

                                    <nav class="nav flex-column">
                                        @if (expandedSubMenu && subMenu.CMENU_ID + subMenu.CSUB_MENU_ID == _clickedGroup)
                                        {
                                            @foreach (var program in _menuProgramList)
                                            {
                                                <div class="nav-item">
                                                    <NavLink class="nav-link" @onclick="@(() => GoTo(program))">
                                                        <span class="oi oi-file me-2" aria-hidden="true"></span>
                                                        @if (!IconMenuActive)
                                                        {
                                                            @program.CSUB_MENU_NAME
                                                        }
                                                    </NavLink>
                                                </div>
                                            }
                                        }
                                    </nav>
                                </div>
                            }
                        }
                    </nav>
                </div>
            }
        }
    </nav>
</div>

<div class="bottom-row">
    <div class="icon-menu-arrow">
        @if (!IconMenuActive)
        {
            <span class="oi oi-arrow-left" style="color:white;" @onclick="@ToggleIconMenu"></span>
        }
        else
        {
            <span class="oi oi-arrow-right" style="color:white;" @onclick="@ToggleIconMenu"></span>
        }
    </div>
</div>