@namespace BlazorMenu.Shared.Modals
@inherits BaseComponent

<div @ref="@ElementRef" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@Attributes" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @if (isVisible)
            {
                @if (!string.IsNullOrWhiteSpace(Title) || HeaderTemplate != null || ShowCloseButton)
                {
                    <div class="modal-header px-5 position-relative modal-shape-header bg-shape @HeaderCssClass">
                        @if (!string.IsNullOrWhiteSpace(Title))
                        {
                            @* <h5 class="modal-title">@Title</h5> *@
                            <div class="position-relative z-index-1 light">
                                <h4 class="mb-0 text-white" id="authentication-modal-label">@Title</h4>
                            </div>
                        }
                        else if (HeaderTemplate != null)
                        {
                            @HeaderTemplate
                        }

                        @if (ShowCloseButton)
                        {
                            @* <Icon Color="@closeIconColor" Name="IconName.XLg" role="button" @onclick="HideAsync"></Icon> *@
                            <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" @onclick="@HideAsync" />
                        }
                    </div>
                }

                @if (childComponent is not null)
                {
                    <div class="modal-body @BodyCssClass">
                        <DynamicComponent Type="@childComponent" Parameters="@parameters" />
                    </div>
                }
                else if (!string.IsNullOrWhiteSpace(Message))
                {
                    <div class="modal-body @BodyCssClass">
                        @Message
                    </div>
                }
                else if (BodyTemplate != null)
                {
                    <div class="modal-body @BodyCssClass">
                        @BodyTemplate
                    </div>
                }

                @if (FooterTemplate != null)
                {
                    <div class="modal-footer @FooterCssClass">
                        @FooterTemplate
                    </div>
                }
                @* else if (showFooterButton)
                {
                    <div class="modal-footer @FooterCssClass">
                        <Button Class="@footerButtonCSSClass" Color="@footerButtonColor" data-bs-dismiss="modal" aria-label="Close">@footerButtonText</Button>
                    </div>
                } *@
            }
        </div>
    </div>
</div>