@using System.Reflection
@using BlazorMenu.Components.Resources
@using Microsoft.AspNetCore.Components.Web
@using R_BlazorFrontEnd.Controls.Forms
@using R_BlazorFrontEnd.Helpers
@using R_BlazorFrontEnd.Tenant

<CascadingAuthenticationState>
    <R_ErrorHandler>
        @if (_environment.IsDevelopment)
        {
            <R_BasicRouter AppAssembly="@typeof(Program).Assembly"
                           AdditionalAssemblies="@lazyLoadedAssemblies">
                <Found Context="routeData">
                    <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </Found>
                <NotFound>
                    <LayoutView Layout="@typeof(ErrorLayout)">
                        <_404 Message="" />
                    </LayoutView>
                </NotFound>
            </R_BasicRouter>
        }
        else
        {
            <R_TenantRouter AppAssembly="@typeof(Program).Assembly"
                            AdditionalAssemblies="@lazyLoadedAssemblies">
                <Found Context="routeData">
                    <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </Found>
                <NotFound>
                    <LayoutView Layout="@typeof(ErrorLayout)">
                        <_404 Message="" />
                    </LayoutView>
                </NotFound>
                <NoTenant Context="message">
                    <LayoutView Layout="@typeof(ErrorLayout)">
                        <_404 Message="@message" />
                    </LayoutView>
                </NoTenant>
                <ApiError Context="httpResponse">
                    <LayoutView Layout="@typeof(ErrorLayout)">
                        <_500 Message="@httpResponse.ReasonPhrase" />
                    </LayoutView>
                </ApiError>
                <Navigating>
                    <div class="k-dialog-wrapper" style="z-index: 10001;">
                        <div class="k-overlay" tabindex="-1"></div>
                        <div class="k-window telerik-blazor k-centered r-window r-invisible-window" dir="ltr" style="z-index: 10001" aria-modal="true" role="dialog" tabindex="0">
                            <div class="k-window-content">
                                <div class="fade show" style="display:block;" tabindex="-1">
                                    <div class="spinner-border" role="status" style="color: white;">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </Navigating>
            </R_TenantRouter>
        }
    </R_ErrorHandler>
</CascadingAuthenticationState>

@code {
    [Inject] private R_IEnvironment _environment { get; set; } = default!;

    private List<Assembly> lazyLoadedAssemblies = new()
    {
        typeof(BlazorMenu.Components.Pages.Content.Home).Assembly,
        // typeof(SAM01200Front.SAM01200).Assembly,
    };
}