@using System.Reflection
@using R_BlazorFrontEnd.Helpers
@using R_BlazorFrontEnd.Tenant
@using BlazorMenu.Components.Resources

@if (_environment.IsDevelopment)
{
    <R_BasicRouter AppAssembly="@typeof(Program).Assembly"
            AdditionalAssemblies="@lazyLoadedAssemblies">
        <Found Context="routeData">
            <CascadingAuthenticationState>
                <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </CascadingAuthenticationState>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>@(R_FrontUtility.R_GetMessage(typeof(BlazorMenuLocalizer), "_PageNotFound", pcResourceName: "BlazorMenuResources"))</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </R_BasicRouter>
}
else
{
    <R_TenantRouter AppAssembly="@typeof(Program).Assembly"
                    AdditionalAssemblies="@lazyLoadedAssemblies">
        <Found Context="routeData">
            <CascadingAuthenticationState>
                <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </CascadingAuthenticationState>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>@(R_FrontUtility.R_GetMessage(typeof(BlazorMenuLocalizer), "_PageNotFound", pcResourceName: "BlazorMenuResources"))</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
        <NoTenant Context="message">
            <LayoutView Layout="@typeof(NoTenantLayout)">
                <p>@message</p>
            </LayoutView>
        </NoTenant>
        <ApiError Context="message">
            <LayoutView Layout="@typeof(NoTenantLayout)">
                <p>@message</p>
            </LayoutView>
        </ApiError>
    </R_TenantRouter>
}

@code {
    [Inject] private R_IEnvironment _environment { get; set; }

    private List<Assembly> lazyLoadedAssemblies = new()
    {
        typeof(BlazorMenu.Components.Pages.Content.Home).Assembly,
        //typeof(GSM00100Front.GSM00100).Assembly,
    };
}