@using System.Reflection

<R_BasicRouter AppAssembly="@typeof(Program).Assembly"
               AdditionalAssemblies="@lazyLoadedAssemblies">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </CascadingAuthenticationState>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</R_BasicRouter>


@code {
    private List<Assembly> lazyLoadedAssemblies = new()
    {
        typeof(BlazorMenu.Components.Pages.Content.Home).Assembly,
        //typeof(GSM00100Front.GSM00100).Assembly,
    };
}