@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using System.Reflection
@using R_BlazorFrontEnd.Helpers
@using BlazorMenu.Shared.Tabs
@inject LazyAssemblyLoader AssemblyLoader

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly"
            AdditionalAssemblies="@lazyLoadedAssemblies" 
            OnNavigateAsync="@OnNavigateAsync">
        <Found Context="routeData">
            <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private List<Assembly> lazyLoadedAssemblies = new()
    {
        //typeof(GSM00100Front.GSM00100).Assembly,
    };

    private async Task OnNavigateAsync(NavigationContext args)
    {
        try
        {
            if (string.IsNullOrWhiteSpace(args.Path))
                return;

            var lcAssemblyName = args.Path + "Front.dll";
            R_eFormAccess[] loFormAccess = new[] { R_eFormAccess.Add };

            if (args.Path == "SAB0070011")
            {
                var loAssemblies = await AssemblyLoader.LoadAssembliesAsync(
                    new[] { lcAssemblyName });

                var loAssembly = loAssemblies.FirstOrDefault();

                if (loAssembly != null)
                {
                    var lcAssemblyFullName = args.Path + "Front." + args.Path;

                    Type loType = loAssembly.GetType(lcAssemblyFullName, false, true);
                    var loPage = Activator.CreateInstance(loType, null);

                    ((R_IFormAccess)loPage).R_SetAccess(loFormAccess);
                }

                //var loAssembly = loAssemblies.FirstOrDefault();
                //if (loAssembly != null)
                //{
                //    var loTypes = loAssembly.GetTypes();
                //    var loType = loTypes.Where(t => typeof(R_Page).IsAssignableFrom(t)).FirstOrDefault();
                //    if (loType != null)
                //    {
                //        var lcName = loType.Name;
                //        var loProperty = loType.GetProperty("R_FormAccess");

                //        var loObject = Activator.CreateInstance(loType);
                //        loProperty.SetMethod.Invoke(loObject, new object[] { loFormAccess });
                //    }
                //}

                lazyLoadedAssemblies.AddRange(loAssemblies);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}