@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using System.Reflection
@using R_BlazorFrontEnd.Helpers
@using BlazorMenu.Shared.Tabs
@inject LazyAssemblyLoader AssemblyLoader
@inject NavigationManager NavigationManager

<R_BasicRouter AppAssembly="@typeof(Program).Assembly"
               AdditionalAssemblies="@lazyLoadedAssemblies">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <MenuTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </CascadingAuthenticationState>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</R_BasicRouter>


@code {
    private List<Assembly> lazyLoadedAssemblies = new()
    {
        //typeof(GSM00100Front.GSM00100).Assembly,
    };
}